{error_report}
<form>
    <input type="text" name="db_host" placeholder="Database Host" />
    <input type="text" name="db_name" placeholder="Database Name" />
    <input type="text" name="db_user" placeholder="Database User" />
    <input type="password" name="db_pass" placeholder="Database Password" />
    <input type="text" name="admin" placeholder="Insert valid email" />
    <input type="password" name="admin_password" placeholder="Password" />
    <input type="submit" name="save" value="Save" />
</form>